.profile {
    font-size: 60px;
    margin-bottom: 100px;
}

h2 {
    font-size: 40px;
    margin: 20px;
    font-weight: normal;
}

h3 {
    font-size: 30px;
    margin: 20px;
    font-weight: normal;
}

form {
    margin: 30px;
}

input {
    height: 30px;
    width: 210px;
    font-size: 20px;
    color: skyblue;
}

input::-webkit-input-placeholder {
    font-size: 20px;
}

.band-form input {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin: 10px auto 20px;
}

button.bandHome-button {
    margin: 0px;
    width: 300px;
    height: 100px;
}

.show-audio-help-false {
    display: none;
}

.show-audio-help-true {
    display: block;
}

.audio-help {
    list-style-type: none;
}

.audio-help-li {
    margin: 20px;
}