.profile {
  font-size: 60px;
  margin-bottom: 80px;
}

h2 {
  font-size: 40px;
  margin: 20px;
  font-weight: normal;
}

h3 {
  font-size: 30px;
  margin: 20px;
  font-weight: normal;
}

form {
  margin: 30px;
}

input {
  height: 30px;
  width: 210px;
  font-size: 20px;
  color: blue;
}

input::-webkit-input-placeholder {
  font-size: 20px;
}

.band-form input {
  display: block;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin: 20px auto 20px;
}

button.bandHome-button {
  margin: 0px;
  width: 300px;
  height: 100px;
  border-radius: 50px;
  background-color: white;
  color: blue;
  transform: scale(0.8);
  font-size: 30px;
}

button.bandHome-button:hover {
  box-shadow: 10px 10px grey;
  transition: 0.3s;
}

button.submit-button {
  margin-top: 5px;
  margin-bottom: 0px;
  cursor: pointer;
  border-radius: 50px;
  background-color: white;
  color: blue;
  transform: scale(1.5);
  font-size: 15px;
}

button.submit-button:hover {
  box-shadow: 10px 10px grey;
  transition: 0.3s;
}

button.delete {
  margin: 0px;
  margin-top: 0px;
  cursor: pointer;
  border-radius: 50px;
  background-color: white;
  color: blue;
}

button.delete:hover {
  box-shadow: 10px 10px grey;
  transition: 0.3s;
}

button.delete-song {
  margin-bottom: 50px;
  margin: 0px;
  margin-top: 0px;
  cursor: pointer;
  border-radius: 50px;
  background-color: white;
  color: blue;
}

button.delete-song:hover {
  box-shadow: 10px 10px grey;
  transition: 0.3s;
}

button.delete-video {
  margin: 0px;
  margin-top: 0px;
  cursor: pointer;
  border-radius: 50px;
  background-color: white;
  color: blue;
}

button.delete-video:hover {
  box-shadow: 10px 10px grey;
  transition: 0.3s;
}

.songs {
  height: 470px;
}

.shows-render {
  height: 175px;
  margin-top: 60px;
}

.image-showspage {
  padding-bottom: 60px;
}

.submit-shows {
  margin-top: 0px;
  margin-bottom: 30px;
}

.show-help-false {
  display: none;
}

.show-help-true {
  display: block;
}

.help {
  list-style-type: none;
}

.help-li {
  margin: 20px;
}

.show-hide-help {
  margin-bottom: 20px;
}

.show-hide-help-a {
  color: red;
}

.show-hide-help-a:hover {
  color: blue;
  transition: 0.3s;
}

.image-homePage {
  margin: 30px auto;
  width: 100%;
  max-width: 1000px;
}

.image-showspage {
  padding-top: 20px;
}

.drawer-toggle-div {
  display: none;
}

@media screen and (max-width: 727px) {
  .drawer-toggle-div {
    display: block;
    margin-right: 50px;
  }

  .navlinks {
    display: none;
  }

  button.submit-button {
    transform: scale(1);
  }

  button.delete-video {
    margin: 0px;
    font-size: 15px;
  }

  button.delete-song {
    margin: 0px;
    font-size: 15px;
  }

  button.delete {
    margin: 0px;
    font-size: 15px;
  }

  .songs {
    height: 470px;
  }

  .shows-render {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 135px;
  }

  .submit-social {
    margin-top: 40px;
  }

  ul.help {
    padding-left: 0px;
  }

  h3 {
    font-size: 25px;
  }

  .image-showspage {
    padding-bottom: 20px;
  }

  @media screen and (max-width: 320px) {
    .songs {
      height: 470px;
      max-width: 100%;
    }
  }
}
