div {
  font-size: 22px;
  padding: 0;
  color: #000;
  text-align: center;
}

.landing-create {
  font-size: 100px;
  color: blue;
}

.landing-explore {
  margin: 20px;
  color: purple;
}

.landing-button {
  border-radius: 25px;
  background: blue;
  color: white;
  width: 200px;
  height: 75px;
  cursor: pointer;
}

.bandHome-button {
  width: 300px;
  height: 100px;
  cursor: pointer;
}

@media screen and (max-width: 415px) {
  .landing-create {
    font-size: 40px;
  }
  .landing-button {
    margin: 20px;
  }
  .crescendo-home {
    margin: 20px;
  }
}
