div {
    font-size: 22px;
    padding: 0;
    color: #000;
    /* font-family: 'Fugue', verdana; */
    /* text-transform: uppercase; */
    text-align: center;
}

.landing-create {
    font-size: 100px;
}

.landing-explore {
    margin: 20px;
}

.landing-button {
    border-radius: 25px;
    background: blue;
    color: white;
    width: 200px;
    height: 75px;
    margin: 0px;
    cursor: pointer;
}

.bandHome-button {
    width: 300px;
    height: 100px;
    cursor: pointer;
}

/* img {
    margin: 30px auto;
    width: 90%;
    max-width: 700px;
} */

/* img:hover {
    -moz-box-shadow: 0 0 300px #b3fcc4;;
    -webkit-box-shadow: 0 0 300px #b3fcc4;;
    box-shadow: 0 0 300px #b3fcc4;
  } */

/* @media screen and (max-width: 415px) {
    img {
        width: 100%;
    } 
} */