button.landing-button {
  background-color: white;
  color: blue;
}

button.landing-button:hover {
  box-shadow: 10px 10px grey;
  transition: 0.3s;
}

.sign-in {
  color: blue;
}

.sign-in:hover {
  color: purple;
  transition: 0.3s;
}
