h1 {
  font-size: 40px;
  margin: 3px 0px;
  font-weight: normal;
}

nav {
  display: flex;
}

section.navbar {
  display: flex;
  padding: 10px;
}

nav {
  flex: 1;
}

.navlinks {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 20px;
}

.navlinks-a {
  color: black;
}

.navlinks-a:hover {
  color: blue;
  transition: 0.3s;
}

.nav-li {
  display: inline;
  padding: 20px;
}

a.login-link {
  flex: 1;
  text-align: right;
}

.nav-button {
  display: inline;
  border-radius: 25px;
  margin: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  color: blue;
}

button.nav-button:hover {
  box-shadow: 10px 10px grey;
  transition: 0.3s;
}

.account-link {
  display: inline;
  border-radius: 25px;
  margin: 0px;
}

.drawer-toggle-div {
  height: 40px;
  width: 40px;
}

.crescendo-home-a {
  color: blue;
}

.crescendo-home-a:hover {
  color: purple;
  transition: 0.3s;
}

@media screen and (min-width: 415px) and (max-width: 1050px) {
  .nav-li {
    padding: 15px;
  }
}

@media screen and (max-width: 415px) {
  section.navbar {
    flex-direction: row;
    justify-content: center;
  }
  .nav-li {
    padding: 10px;
    font-size: 17px;
  }

  .nav-button {
    width: 100px;
    margin-top: 8px;
  }

  h1 {
    font-size: 35px;
  }

  h1.profile {
    font-size: 35px;
    margin-bottom: 30px;
  }

  a.login-link {
    margin-top: 13px;
    margin-right: 35px;
  }
}
